[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TempStable"]
	path = TempStable
	url = https://github.com/cedricjuessen/tempstable
	shallow = true
	registered = true
